.link-active {
  border-bottom: 1px solid gray;
}

.app {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  border: 1px solid #000;
}

.app-header {
  background-color: #a8aeac;
  height: 30px;
  line-height: 30px;
  text-align: right;
  color: #000;
}

.app-header nav a {
  margin-right: 20px;
}